h1 {
    background-color: brown;
    text-align: center;
    color: #1606ef;
    
}
body {
    background-color: lavender;
    text-align: left;
    text-decoration: solid;
}
h2 {
    color: crimson;
}
